body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  margin: 0;
}

#container {
  display: grid;
  grid-template-areas: 'title';
  width: 100vw;
  height: 100vh;
}

.title {
  justify-self: center;
  align-self: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
}