<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>
<body>
  <header id="menu">
    <% include ../../partials/header.ejs %>
  </header>
  
  <main id="container">
    <% include ../../partials/crud.ejs %>    
    <div id="content">
      <p>Delete Page</p>
    </div>
  </main>

  <footer id="footer">
    <%include ../../partials/footer.ejs %>
  </footer>
</body>
</html>